In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('forecast_history.csv')
df.head()

,Unnamed: 0,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast
0,2011,340000,56%,23%,-20%
1,2012,370000,53%,34$,-80%
2,2013,350000,NaN,19%,-70%
3,2014,420000,13%,42%,-80%
4,2015,425000,33%,23%,-50%

In [9]:
print(df.columns)

Index(['Year', 'Median house price', 'Westpac: 4 year forecast',
       'Joe Bloggs: 2 year forecast', 'Harry Spent: 5 year forecast'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          14 non-null     int64
 1   Median house price            14 non-null     object
 2   Westpac: 4 year forecast      13 non-null     object
 3   Joe Bloggs: 2 year forecast   14 non-null     object
 4   Harry Spent: 5 year forecast  13 non-null     object
dtypes: int64(1), object(4)
memory usage: 692.0+ bytes

In [8]:
df.rename(columns = {'Unnamed: 0' : 'Year'}, inplace = True)
df.head()

,Year,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast
0,2011,340000,56%,23%,-20%
1,2012,370000,53%,34$,-80%
2,2013,350000,NaN,19%,-70%
3,2014,420000,13%,42%,-80%
4,2015,425000,33%,23%,-50%

In [15]:
def is_numeric(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

# Filter non-numeric values
non_numeric = df[~df['Median house price'].apply(is_numeric)]
non_numeric

,Year,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast
13,2024,760O00,-10%,-2%,-80%

In [17]:
df.loc[df['Median house price']=='760O00'] = 760000
non_numeric = df[~df['Median house price'].apply(is_numeric)]
len(non_numeric)

0

In [18]:
df.isnull().sum()

Year                            0
Median house price              0
Westpac: 4 year forecast        1
Joe Bloggs: 2 year forecast     0
Harry Spent: 5 year forecast    1
dtype: int64

In [19]:
df[df['Westpac: 4 year forecast'].isna()]

,Year,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast
2,2013,350000,NaN,19%,-70%

In [20]:
df[df['Harry Spent: 5 year forecast'].isna()]

,Year,Median house price,Westpac: 4 year forecast,Joe Bloggs: 2 year forecast,Harry Spent: 5 year forecast
7,2018,550000,34%,18%,NaN

In [23]:
df.rename(columns={'Westpac: 4 year forecast' : 'Westpac: 4 year forecast (%)', 
                  'Joe Bloggs: 2 year forecast' : 'Joe Bloggs: 2 year forecast (%)',
                  'Harry Spent: 5 year forecast' : 'Harry Spent: 5 year forecast (%)'}, inplace=True)
df['Westpac: 4 year forecast (%)'] = df['Westpac: 4 year forecast (%)'].str.replace('%', '', regex=False)
df['Joe Bloggs: 2 year forecast (%)'] = df['Joe Bloggs: 2 year forecast (%)'].str.replace('%', '', regex=False)
df['Harry Spent: 5 year forecast (%)'] = df['Harry Spent: 5 year forecast (%)'].str.replace('%', '', regex=False)

In [25]:
non_numeric = df[~df['Westpac: 4 year forecast (%)'].apply(is_numeric)]
non_numeric

,Year,Median house price,Westpac: 4 year forecast (%),Joe Bloggs: 2 year forecast (%),Harry Spent: 5 year forecast (%)
12,2023,73000,I5,7,-80

In [27]:
df.loc[df['Westpac: 4 year forecast (%)']=='I5']=15

In [33]:
df=df.fillna(0)

In [35]:
df.loc[df['Joe Bloggs: 2 year forecast (%)']=='34$']=34

In [36]:
df=df.astype(float)

In [40]:
print(df['Westpac: 4 year forecast (%)'].describe())

count    14.000000
mean     19.571429
std      21.121314
min     -20.000000
25%       3.250000
50%      17.500000
75%      34.000000
max      56.000000
Name: Westpac: 4 year forecast (%), dtype: float64

In [38]:
df['Joe Bloggs: 2 year forecast (%)'].describe()

count      14.000000
mean      125.142857
std       395.842404
min         0.000000
25%        15.000000
50%        19.000000
75%        23.000000
max      1500.000000
Name: Joe Bloggs: 2 year forecast (%), dtype: float64

In [39]:
df['Harry Spent: 5 year forecast (%)'].describe()

count     14.000000
mean     -44.285714
std       44.449502
min     -110.000000
25%      -77.500000
50%      -55.000000
75%       -5.000000
max       34.000000
Name: Harry Spent: 5 year forecast (%), dtype: float64